.frame-hero {
    padding-top: 50px;
    padding-bottom: 50px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%);
}

.hero-img {
    z-index: 10;
    border-radius: 5px;

}

.hero-text {
    z-index: 5;
}

.frame-logo {
    font: size 15px;
}

.frame {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}