/************stikers************/
.sticks {
    position: absolute;
    width: 100%;
    background-color: inherit;

}

.joystick {
    position: absolute;
    left: 55%;
    top: -20px;
    background-color: inherit;
    z-index: -2;
    rotate: 357deg;
}

.hero-unreal {
    position: relative;
    top: 60px;
    left: 82%;
    background-color: inherit;
    z-index: -2;
}

.hero-cry {
    position: relative;
    top: 105px;
    left: 60%;
    background-color: inherit;
    z-index: -2;
}

.hero-unity {
    position: relative;
    left: 47%;
    top: 400px;
    background-color: inherit;
    z-index: -2;
}


/*<div style="position: absolute; left: 76%; top: 60%"><svg class="icon" width="196" height="154"><use href="./img/symbol-defs.svg#icon-Group-21"></use></svg></div><img src="./img/spiderMan.webp"
alt="spider-man"
width="1146"
height="462"
style="border-radius: 5px"
/>
/*
/***********video**********/
.video {
    border-radius: 5px;
    object-fit: cover;
    filter: drop-shadow(2px 1px 16px #ce1c1c);
}

/*/
/******************************************************/
header {
    width: 100%;
    position: relative;
}

.container-header {
    max-width: 1280px;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo-header {

    display: inline-flex;
    border-radius: 15px;
    font-family: Poppins, sans-serif;
    padding: 10px;
    margin-right: 15%;
    box-shadow: 2px 8px 20px 10px rgba(208, 228, 236, 0.12), 0px 5px 4px -1px rgba(97, 130, 144, 0.32);
    align-items: center;
    justify-content: center;
}



.nav {
    padding-top: 15px;
    padding-bottom: 15px;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 88px;
    flex-wrap: nowrap;
    position: relative;
}

.nav-link {
    padding: 15px 0;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    position: relative;
    transition: color 0.3s ease;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    background-color: #f90;
    left: 0;
    bottom: 0;
    transition: width 0.3s ease;
}

.nav-link:hover::after,
.nav-link.active::after {
    width: 100%;
}

.link-btn {
    border-radius: 6px;
    padding: 10px 28px;
    background-color: #fa9021;
    font-weight: 400;
    font-size: 13px;
    color: #fff;
}


/***********************HERO********************************************************/

.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
}

.hero-text {
    width: 527px;
    height: auto;
}

.hero-text h4 {
    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.2em;
    color: #e87d0e;
    margin-bottom: 20px;
}

.note {
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.875;
    margin-bottom: 50px;
}


.hero-button {
    border-radius: 25px;
    background-color: #e87d0e;
    padding: 15px 30px;
    color: inherit;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    border: none;
    z-index: 2;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.hero-button:hover {
    background-color: transparent;
    color: #fb9e3c;
    box-shadow: 0 5px 3px -3px #fb9e3c, 0 -5px 3px -3px #fa8305,
        0 5px 3px -3px #fb9e3c, 0 -5px 3px -3px #fa8305;
}

.hero-button:before,
.hero-button:after {
    position: absolute;
    content: "";
    left: 0;
    width: 100%;
    height: 50%;
    right: 0;
    z-index: -1;
    background: #fa8305;
    box-shadow: 0 0 5px #fa8305;
    transition: all 0.3s ease;
    border-radius: 40px;
}

.hero-button:before {
    top: 0;
}

.hero-button:after {
    bottom: 0;
}

.hero-button:hover:before,
.hero-button:hover:after {
    height: 0;
    background-color: #b6b8b9;
}



/************************Current Section**********************/

.viewSpoler {
    padding-top: 80px;
    padding-bottom: 80px;

}

.viewSpolerDivMain {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.subtitle {
    font-weight: 700;
    font-size: 31px;
    line-height: 1.8;
    color: #fff;
}

.btnSeeMore {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.8;
    color: #fff;
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
    background: linear-gradient(to right, #1e130c, #885235);
    transition: background 0.3s ease-out, color 0.3s ease-out;
}

.btnSeeMore:hover {
    background: linear-gradient(to right, #885235, #b6b8b9);
    color: #1e130c;
}

.viewSpoler-list {
    display: flex;
    gap: 45px;
    margin-top: 50px;
}


.imgBox>img {
    object-fit: cover;
    width: 252px;
    height: 277px;
    border-radius: 15px
}

.box-text {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 25px 40px;
}

.box-text>p {
    font-weight: 500;
    font-size: 22px;
    line-height: 1.8;
    color: #fff;
}

/********************spider section*************************/

.sectionSpiderMan {
    padding-top: 80px;
    padding-bottom: 80px;
}


.spider-manSubtitle {
    text-align: center;
    font-weight: 600;
    font-size: 35px;
    line-height: 1.875;
    text-align: center;
    color: #fff;
    margin-bottom: 65px;
    text-shadow: #474747 3px 5px 2px;
}

.header3 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 30px;
    line-height: 1.875;
    color: #fff;
    margin-bottom: 25px;
}

.spiderNote {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    color: #fff;

}

.spiderManTextbox {
    max-width: 545px;
    height: 173px;
    margin-bottom: 45px;
}

/*************************section advence***************/


.advence {
    padding-top: 80px;
    padding-bottom: 80px;
    background: linear-gradient(rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 0.65)),
        url('../img/section3.webp') no-repeat center center/cover;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}


.advence-container {
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.advenceSubtitle {
    font-weight: 800;
    font-size: 30px;
    line-height: 1.8;
    text-align: center;
    max-width: 826px;
    color: #fff;
    margin-bottom: 25px;
}

.text {
    max-width: 820px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #fff;
    margin-bottom: 100px;
}

.advenceList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.advenceList>li {
    flex: 1 1 calc(25% - 100px);
    margin-bottom: 62px;
}


.container-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    transition: backdrop-filter 250ms ease-in-out,
        transform 250ms ease-out,
        border-radius 250ms ease-out;
}

.container-icon:hover {
    backdrop-filter: blur(15px);
    border-radius: 20px;
    transform: scale(1.2);
}

.container-icon>p {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.8;
    color: #fff;
}

.iconSection3 {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    padding: 10px;
}

/******************************section ourProject********************/

.ourProject {
    padding-top: 80px;
    padding-bottom: 80px;
}

.ourProject-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ourProject-list {
    width: 1170px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px 27px;
    margin-bottom: 70px;
}

/********************************section submit info***************/

.info {
    padding-top: 80px;
    padding-bottom: 80px;
}

.info-subtitle {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 30px;
    line-height: 1.875;
    color: #fff;
    margin-bottom: 30px;
}

.note-info {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    color: #fff;
    margin-bottom: 60px;
}

.form-home {
    background: #1c140f;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    border-radius: 15px;
}

.containerText-inIput {
    width: 636px;
    margin-right: 40px;
}

.info-header3 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 10px;
}

.info-note {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 17px;
}

.containerInput {
    max-width: 385px;
    display: flex;

}


::placeholder {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 13px;
    color: #898989;
    padding: 14px 20px;
}

.input {
    border-radius: 8px;
    width: 386px;
    height: 48px;
    padding: 6px 10px;
}

input:focus {
    outline: none;
}

.btnInfo {
    position: relative;
    right: 100px;
    top: 6px;
    padding: 8px 10px;
    border-radius: 8px;
    border: none;
    width: 104px;
    height: 37px;
    background: #dc7000;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    color: #fff;
}

/*******************Footer home*************************************/

.footer-home {
    background: #070707;
}

.footer-container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
}

.footer-top {
    display: flex;
    padding: 50px 0;
    justify-content: space-around;
    border-bottom: 0.80px solid #c0b8b8fc;
    margin-bottom: 28px;
}

.logo-container {
    display: flex;
    max-width: 340px;
    flex-wrap: wrap;
    gap: 15px;
}



.aboutUs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.aboutUs-container>ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contactUs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}



.footer-contacts {
    display: flex;
    flex-direction: column;
}




.footerIcon-list {
    display: flex;
    align-items: flex-end;
    gap: 15px;
}

.footerIcon-list>li {
    border-radius: 50%;
    padding: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.footerIcon-list>li:hover {
    background-color: #42040d;
    transform: scale(1.2);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    fill: #fff;
}

.footer-bottom {
    padding: 25px 0;
    text-align: center;
}

.footer-bottom-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 13px;
    line-height: 1.906;
    color: #fff;
}